<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UILongPress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F82D4971E312CBE00A60E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F82D4AB1E312CBF00A60E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F82D4B61E312CBF00A60E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
